* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #005a05;
    --secondary-color: #2c225f;
    --accent1-color: #264653;
    --accent2-color: #554314;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --page-background: #f0f0f0;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    background-color: #124254;
    border: 1px solid #ccc;
}

header img {
    max-height: 80px;
    justify-self: center;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 1rem 1.5rem;
    background-color: #e0e0e0;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 6px;
}

.hero, .history, .adventure {
    border: 2px solid #2c225f;
    width: 100%;
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    
}

header, main, footer {
    width: 100%;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-color);
}

.socialmedia a {
    display: inline-block;
    text-decoration: none;
}

.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero article {
    position: absolute;
    bottom: 15px;
    left: 70px;
    right: 70px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--page-background);
    border: none;
    color: var(--accent2-color);
    box-sizing: border-box;
}

.hero article p {
    flex: 1;
    margin: 10;
    font-size: 1rem;
    color: var(--accent2-color);
}

.hero article img {
   width: 200px;
   height: auto;
   border-radius: 4px;
}

.hero h1 {
    position: static;
    top: 20px;
    left: 50%;
    width: 100%;
    padding: .5rem 1rem;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent2-color);
}


.history {
    padding: 1rem;
    align-items: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.history-grid img {
    max-width: 100%;
    height: auto;
    grid-column: 2;
}

main h2 {
    text-align: center;
    font-size: 2rem;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    margin: 2rem 0 1rem;
}


.adventure {
  padding: 1rem;
}

.adventure-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.adventure-grid figure {
  text-align: center;
}

.adventure-grid img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.adventure-grid figcaption {
  margin-top: 0.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}

footer {
    padding: 1rem;
    border: 2px solid #2c225f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-family: var(--body-font);
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.socialmedia {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.socialmedia a img {
    height: 30px;
    width: 30px;
    display: block;
}