* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #005a05;
    --secondary-color: #2c225f;
    --accent1-color: #264653;
    --accent2-color: #554314;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --page-background: #f0f0f0;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-color);
}

.socialmedia a {
    display: inline-block;
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 16px;
    max-width: 50%;
    background-color: var(--page-background);
    color: var(--accent2-color);
}
.hero article img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}





