* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;


    background-color: #555;
    color: #fff;
}

h1 {
    margin: .5rem;

}

form {

    background-color: #ddd;
    color: #111;
}

input,
textarea,
select, button {
    padding: .75rem;
    min-width: 350px;
}

button {
    background-color: rgb(86, 28, 72);
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    border: 1px solid rgb(0 0 0 /10%);
    box-shadow: 0 0 15px #eee;
}

code {
    display: block;
    background-color: #000;
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
}

.quiz-item {
    border: none
}