:root{
    --width-main: 150px;
    --main-background-color: darkblue;
}

nav {
    background-color: var(--main-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: 840px;
}

h1 {
    color: var(--main-background-color);
}

main img {
    width: var(--width-main);
    height: auto;
    border: 1px;
    padding: 1px;
    box-shadow: 10px 10px #333;
}

img {
    width: var(--width-main);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}