* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

body {
    font-size: 16px;
    font-family: "Stack Sans Text", sans-serif
}
:root{
    --width-main: 150px;
    --main-background-color: rgb(88, 88, 151);
}

nav {
    background-color: var(--main-background-color);
    padding: 1rem;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

header {
    display: block;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

main{
    max-width: 840px;
    padding: 2rem;
}

h1 {
    color: var(--main-background-color);
    padding: .5rem;
    border-bottom: #3b293e dashed;
}

main img {
    width: var(--width-main);
    height: auto;
    float: right;
    border: 1px solid slateblue;
    padding: 2px;
    box-shadow: 0px 0px #333;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

img {
    width: var(--width-main);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}



aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 150px;

}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    display: grid;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

